.item-icon {
    object-fit: fill;
}

.history-item {
    color: #fff;
    -webkit-text-stroke: .1px plum;
    letter-spacing: 2px;
    border: 2px solid plum;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.05) !important;
    text-align: center;
    overflow: hidden;
    margin: 0 0 15px;
}

.history-item h6 {
    clear: both;
}

.list-left {
    float: left;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 35px;
    margin: 10px 5px;
    width: 10%;
    overflow: hidden;
    padding-top: 0;
    /* square border around element */
}

.total-right {
    position: relative;
    float: right;
    right: 5%;
}

/* MOBILE SIZING REQUIRED */