body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://preview.redd.it/zs2ec4w041251.png?auto=webp&s=06f992415cffc8b6cba1b5fc9876bd6b380ec959");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Bangers', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
